---
import { themeConfig } from '~/.config'

const { navLinks, socialLinks } = themeConfig.site
const { translate: t } = Astro.locals
---

<nav class="font-bold" flex="~ col gap-4">
  <ul lg="flex-col items-start text-4" class="text-3.5" flex="~ row gap-2 wrap">
    {
      navLinks.map((nav) => (
        <li>
          <a class={nav.highlight ? 'bg-primary c-background rounded-sm px-1.5' : ''} href={nav.href}>
            {t(nav.name)}
          </a>
        </li>
      ))
    }
  </ul>
  <ul flex="~ row gap-1">
    {
      socialLinks.map(({ href, name }) => (
        <li>
          <a href={href} target="_blank" title={name} class="not-underline-hover inline-flex items-center">
            <span class:list={[`i-mdi-${name}`, 'w-6 h-6']}>{name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
